@model IEnumerable<WardrobeApp.Models.Top>
<link href="~/Content/TopStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2 id="tops">Tops</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)

    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <p>@Html.DisplayFor(modelItem => item.TopName)</p>
                <p><img src="@Html.DisplayFor(modelItem => item.TopPhoto)" /></p>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
            @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
        </div>
            

         







            }

            </div>
