@model WardrobeApp.Models.Bottom
<link href="~/Content/BotDetStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<h2>Bottom Details</h2>

<div>
    <div class="card border-primary mb-3" width:75px;>

        <div class="card-header">@Html.DisplayFor(model => model.BottomName)</div>
        <div class="card-body text-primary">
            <h3 class="card-title"></h3>
            <img src="@Html.DisplayFor(model => model.BottomPhoto)">
            <p class="card-text">Color:  @Html.DisplayFor(model => model.BottomColor)</p>
            <p class="card-text">Season:  @Html.DisplayFor(model => model.BottomSeason) </p>




            <div class="card-footer">
                Occasion:  @Html.DisplayFor(model => model.BottomOccasion)
            </div>
        </div>
        <p>@Html.ActionLink("Back to List", "Index")</p>
    </div>
    </div>








       